#cloud-config
autoinstall:
  version: 1
  keyboard:
    layout: es
  ssh:
    allow-pw: false
    install-server: true
  storage:
    config: {{ hostvars[x86_host].autoinstall.storage.config }}

  user-data:
    # Set TimeZone and Locale
    timezone: UTC
    locale: it_IT.UTF-8

    # Hostname
    hostname: {{ x86_host }}

    # cloud-init not managing hosts file. only hostname is added
    manage_etc_hosts: localhost

    users:
      - name: watacoso
        primary_group: users
        groups: [adm, admin]
        shell: /bin/bash
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: true
        ssh_authorized_keys:
          - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIt+krhytsv49hkD45aT3a9QWpjsQ+ihqoTMgW8Nwl5s ansible@ansible